* {
    box-sizing: border-box;
  }
  main {
    display: flex;
    width: 90vh;
    flex-wrap: wrap;
  }
  .cell {
    display: flex;
    width: 30vh;
    height: 30vh;
    font-size: 12vh;
    align-items: center;
    justify-content: center;
  }

  .cell:nth-child(3n+2) {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.cell:nth-child(n+4):nth-child(-n+6) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}