* {
  box-sizing: border-box;
}

#title {
  font-size: 5vh;
  color: red;
  margin-bottom: 0;
}

#scores {
  color: red;
  font-size: x-large;
  margin-bottom: 0;
}

#winner {
  color: red;
  font-size: x-large;
}

#player-turn {
  color: red;
  font-size: xx-large;
}

#note {
  color: red;
  font-size: large;
  margin-top: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#board {
  display: flex;
  width: 60vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cell {
  display: flex;
  width: 20vh;
  height: 20vh;
  font-size: 10vh;
  align-items: center;
  justify-content: center;
  color: red;
}

.cell:nth-child(3n+2) {
  border-right: 5px solid red;
  border-left: 5px solid red;
}

.cell:nth-child(n+4):nth-child(-n+6) {
  border-top: 5px solid red;
  border-bottom: 5px solid red;
}

#player-turn {
  padding-top: 5vh;
}